body {
  background-color: lightgray;
}

header {
  text-align: center;
}

h1 {
  padding: 1rem;
}

#images {
  margin-left: 0;
  margin-right: 0;
}

#firstImage {
  height: 400px;
}

img {
  padding: 1rem;
}

#secondImage {
  height: 400px;
}

h3 {
  color: blue;
}

li {
  padding: 0.5rem;
}

#ingredienser {
  padding: 1rem;
  border: 1px solid grey;
  background-color: beige;
  width: fit-content;
  float: left;
}

.ingredientTitle {
  font-style: italic;
  font-weight: bold;
}

#howToDo {
  padding: 1rem;
  margin-left: 48rem;
  border: 1px solid grey;
  background-color: beige;
  width: 40%;
}

footer {
  clear: left;
  text-align: center;
  margin-top: 5rem;
}
